name: Partial Sync Notion Star

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  partial-sync:
    runs-on: ubuntu-latest
    environment: notion-sync
    steps:
      - uses: actions/checkout@v4 # 升级

      - name: Download cache storage of last build
        uses: dawidd6/action-download-artifact@v3 # 顺便也升级下这个
        continue-on-error: true
        with:
          workflow: partial-sync.yml
          workflow_conclusion: success
          name: notion-sync-storage
          path: .cache

      - name: Setup environment
        uses: actions/setup-node@v4 # 升级以解决 400 错误
        with:
          node-version: 16.x
          cache: 'yarn'

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Run Partial Sync
        env:
          NOTION_API_KEY: ${{ secrets.NOTION_API_KEY }}
          NOTION_DATABASE_ID: ${{ secrets.NOTION_DATABASE_ID }}
          TOKEN_OF_GITHUB: ${{ secrets.TOKEN_OF_GITHUB }}
          FULLSYNC_LIMIT: 3000
          PARTIALSYNC_LIMIT: 50
          REPO_TOPICS_LIMIT: 100
        run: npm start

      - uses: actions/upload-artifact@v4
        with:
          name: notion-sync-storage
          path: .cache

      - name: "update log and commit"
        run: npm run update
